@model Messaging_Portal.Models.ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-header">
    <h4 class="modal-title">Forgot Password</h4>

</div>
<form asp-action="ForgotPassword" method="post">
    <div class="modal-body">
        <center>
            <img src="~/dist/img/message.png" height="50" width="50" class="brand-image img-circle elevation-3" style="opacity: .8">
            <h5 class="icon-color">Messaging Plateform</h5>
        </center><hr />
        <div class="text-danger">@ViewBag.Message</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
            </div>
            <input asp-for="Email" type="email" class="form-control" required placeholder="Email" />
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <a href="#" onclick="    hideView('myModal'); loadView('/Account/Login','Modal-xl','ModalxlContent')">Login</a>
        <button type="submit" onclick="hideView('myModal')" class="btn btn-info"><i class="fa fa-sync"></i> Reset Password</button>
    </div>
</form>            