@model Messaging_Portal.Models.SignUpViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-header">
    <center><h4>Sign up</h4>    </center>
</div>

<div class="modal-body">
    <div class="text-danger">@ViewBag.Message</div>
    <div class="row">
        <div class="col-sm-6">
            <form asp-action="CreateTrigger" method="post">
                <center>
                    <img src="~/dist/img/message.png" height="50" width="50" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <h5 class="icon-color">Messaging Plateform</h5>
                </center><hr />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="FirstName" type="text" class="form-control" required placeholder="First Name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-sort-alpha-up" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="LastName" type="text" class="form-control" required placeholder="Last Name" />
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="UserName" type="text" class="form-control" required placeholder="User Name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="Email" type="email" class="form-control" required placeholder="Email" />
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-phone" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="PhoneNumber" type="text" class="form-control" required placeholder="Phone Number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="Password" type="Password" class="form-control" required placeholder="Password" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" style="color:#17a2b8"></i></span>
                            </div>
                            <input asp-for="ConfirmPassword" type="Confirm Password" class="form-control" required placeholder="Password" />
                        </div>
                    </div>
                </div>                
                <hr />
                <div class="row">
                     <div class="col-sm-6">
                        <a href="#" onclick="loadView('/Account/Login','Modal-xl','ModalxlContent')">Already have an account?</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-info">Sign up</button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <center><img style="margin-top:20%;" src="~/dist/img/Mobile.PNG" height="300" width="200" /></center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-between">
    @*<button type="button" onclick="hideView('Modal-xl')" class="btn btn-default" data-dismiss="modal">Close</button>*@

</div>

<script>
</script>

