@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">
                    Summernote
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <textarea id="summernote" style="display: none;" rows="10">
                    Place &lt;em&gt;some&lt;/em&gt; &lt;u&gt;text&lt;/u&gt; &lt;strong&gt;here&lt;/strong&gt;

              </textarea><div class="note-editor note-frame card">
                    <div class="note-dropzone">
                        <div class="note-dropzone-message">
                        </div>
                    </div><div class="note-toolbar card-header" role="toolbar">
                        <div class="note-btn-group btn-group note-style">
                            <div class="note-btn-group btn-group">
                                <button type="button" class="note-btn btn btn-light btn-sm">
                                    <i class="note-icon-picture"></i> Media
                                </button>                               
                            </div>
                        </div>                        
                    </div><div class="note-editing-area">
                        <div class="note-handle"><div class="note-control-selection"><div class="note-control-selection-bg"></div><div class="note-control-holder note-control-nw"></div><div class="note-control-holder note-control-ne"></div><div class="note-control-holder note-control-sw"></div><div class="note-control-sizing note-control-se"></div><div class="note-control-selection-info"></div></div></div><textarea class="note-codable" aria-multiline="true"></textarea><div class="note-editable card-block" contenteditable="true" role="textbox" aria-multiline="true" spellcheck="true" autocorrect="true">
                            Place <em>some</em> <u>text</u> <strong>here</strong>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
    <!-- /.col-->
</div>