@model Messaging_Portal.Models.AutoResponderViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">New Autoresponder</h3>
                </div>
                <!-- /.card-header -->
                <div class="modal-body">
                    <div class="text-danger">@ViewBag.Message</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <form asp-action="Create" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
                                            </div>
                                            <input asp-for="Name" type="text" class="form-control" required placeholder="Autoresponder Name" />
                                        </div>
                                    </div>                                   
                                </div>
                                <hr />
                                <small>Message</small>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="note-toolbar card-header">
                                                <div class="note-btn-group btn-group note-style">
                                                    <div class="note-btn-group btn-group">
                                                        <button type="button" class="note-btn btn btn-light btn-sm">
                                                            <i class="note-icon-picture"></i> Media
                                                        </button>
                                                        <button type="button" class="note-btn btn btn-light btn-sm">
                                                            <i class="note-icon-picture"></i> Custom Field
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea oninput="UpdateData()" id="message" asp-for="Message" cols="65"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <small>WHEN TO SEND</small>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input onchange="UpdateForm()" id="type_instant" class="form-check-input" type="radio" name="radio1" checked="">
                                                <label class="form-check-label">Immediately after Opt-in</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input onchange="UpdateForm()" id="type_schedule" class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">After Delay</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="schedule" style="display:none">                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">                                                
                                                    <input type="number" asp-for="Time" />
                                            </div>
                                            <select class="form-control">
                                                <option selected>Seconds</option>
                                                <option selected>Mintues</option>
                                                <option selected>Days</option>
                                                <option selected>Months</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </form>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default">Back</button>
                                <button type="submit" class="btn btn-info"><i class="fa fa-send"></i> Send</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <center><h7>This is just for preview.</h7></center>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="smartphone" style="width:50%;">
                                        <div class="content">
                                            <div class="direct-chat-messages" style="height:100% ;">
                                                <div class="direct-chat-msg">
                                                    <div class="direct-chat-infos clearfix">
                                                        <span class="direct-chat-name float-left">+12434344324</span>
                                                        @*<span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>*@
                                                    </div>
                                                    <!-- /.direct-chat-infos -->
                                                    <!-- /.direct-chat-img -->
                                                    <div id="to_message" class="direct-chat-text">
                                                    </div>
                                                    <!-- /.direct-chat-text -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><hr />


                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <div id='Modal-xl' class='modal'>
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div id='ModalxlContent'></div>
                </div>
            </div>

        </div>
        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>
    window.onload = function() {
        document.getElementById("AutoResponders").classList.add("active");
    }
    function loadView(url, modalId, modalContentID, id) {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: { "list": id },
            datatype: "json",

            success: function(data) {
                $('#' + modalContentID).html(data);
                $('#' + modalId).modal(options);
                $('#' + modalId).modal('show');

            },
            error: function() {
                alert("An error has occured while loading form.");
            }
        });
    };
    function hideView(ModalID) {
        $('#' + ModalID).modal('hide');
    }
    function UpdateData() {
        ChangeText('message', 'to_message');
    }
    function ChangeText(from, to) {
        document.getElementById(to).innerText = document.getElementById(from).value;
    }
    function UpdateForm() {
        if (document.getElementById('type_schedule').checked) {
            document.getElementById('schedule').style.display = 'block';            
        }
        else if (document.getElementById('type_instant').checked) {
            document.getElementById('schedule').style.display = 'none';            
        }      
    }
</script>
