@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="autoresponder_0" class="chat" onclick="LoadMessages('0')">
    @*<div class="comment-text">*@
    <span class="username">
        Maria Gonzales 
        <span class="text-muted float-right">8:03 PM Today</span>
    </span><!-- /.username -->
    <p class="chat-content-small">
        It is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
    </p>
    @*</div>*@
    <!-- /.comment-text -->
</div>
<div id="autoresponder_1" class="chat" onclick="LoadMessages('1')">
    @*<div class="comment-text">*@
    <span class="username">
        Maria Gonzales 
        <span class="text-muted float-right">8:03 PM Today</span>
    </span><!-- /.username -->
    <p class="chat-content-small">
        It is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
    </p>
    @*</div>*@
    <!-- /.comment-text -->
</div>
<div id="autoresponder_2" class="chat" onclick="LoadMessages('2')">
    @*<div class="comment-text">*@
    <span class="username">
        Maria Gonzales 
        <span class="text-muted float-right">8:03 PM Today</span>
    </span><!-- /.username -->
    <p class="chat-content-small">
        It is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
    </p>
    @*</div>*@
    <!-- /.comment-text -->
</div>
<script>

</script>