@model Messaging_Portal.Models.TopicsViewModel

<div class="modal-header">
    <h4 class="modal-title">Edit List</h4>
    <button onclick="hideView('myModal')" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Edit" method="post">
    <div class="modal-body">
        <div class="text-danger">@ViewBag.Message</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-sort-alpha-down" style="color:#17a2b8"></i></span>
            </div>
            <input type="text" asp-for="Name" class="form-control" required placeholder="List Name" />
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" onclick="hideView('myModal')" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" onclick="hideView('myModal')" class="btn btn-info"><i class="fa fa-sync"></i> Update</button>
    </div>
</form>            

