@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List</h3>
                    <div class="project-actions text-right">
                        <button class="button-margin btn btn-info btn-sm float-right" id="btn_listcontacts" onclick="    location.href = '/Subscribers/ContactsList';"><i class="fa fa-users"></i> Contacts List</button>
                        <button class="button-margin btn btn-info btn-sm float-right" id="btn_addlist" onclick="loadView('/Subscribers/CreateList','myModal','myModalContent')"><i class="fa fa-th-list"></i> Add List</button>
                        <button class="button-margin btn btn-info btn-sm float-right" id="btn_addcontact" onclick="loadView('/Subscribers/CreateContact','Modal-xl','ModalxlContent')"><i class="fa fa-user-plus"></i> Add Contact</button>
                        <button class="button-margin btn btn-info btn-sm float-right" id="btn_import" onclick="loadView('/Subscribers/ImportContacts','myModal','myModalContent')"><i class="fa fa-upload"></i> Import Contacts</button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div id="list" class="card-body">
                </div>
                <!-- /.card-body -->
            </div>
             <div id='Modal-xl' class='modal'>
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div id='ModalxlContent'></div>
                    </div>
                </div>

            </div>
            <div id='myModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script>
    function Load() {
        document.getElementById("list").innerHTML = '<center><span>Loading... <i class="spinner fa fa-sync fa-spin"></i></span></center>';
        $("#list").load("/Subscribers/GetList");
    }
    window.onload = function() {
        document.getElementById("subscribers").classList.add("active");
        Load();
    }    
    function loadView(url, modalId, modalContentID,id) {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: { "list":id },
            datatype: "json",

            success: function(data) {
                $('#' + modalContentID).html(data);
                $('#' + modalId).modal(options);
                $('#' + modalId).modal('show');

            },
            error: function() {
                alert("An error has occured while loading form.");
            }
        });
    };
    function hideView(ModalID) {
        $('#' + ModalID).modal('hide');
    }
</script>
