@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List</h3>
                    <div class="project-actions text-right">
                        <button style="margin-left:1px;" class="btn btn-info btn-sm float-right" id="btn_import" onclick="loadView('Subscribers/ImportContacts','myModal','myModalContent')"><i class="fa fa-upload"></i> Import Contacts</button>
                        <button style="margin-left:1px;" class="btn btn-info btn-sm float-right" id="btn_addcontact" onclick="loadView('/Subscribers/CreateContact','myModal','myModalContent')"><i class="fa fa-user-plus"></i> Add Contact</button>
                        <button style="margin-left:1px;" class="btn btn-info btn-sm float-right" id="btn_addlist" onclick="loadView('/Subscribers/CreateList','myModal','myModalContent')"><i class="fa fa-th-list"></i> Add List</button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div id="list" class="card-body">
                    <div class="loader" id="loader">Loading...<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
                </div>
                <!-- /.card-body -->
            </div>
            <div id='myModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script>
    function Load() {
        $("#list").load("/Subscribers/GetList");
    }
    window.onload = function() {
        document.getElementById("subscribers").classList.add("active");
        Load();
    }
    function loadView(url, modalId, modalContentID) {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            url: url,
            success: function(data) {
                $('#' + modalContentID).html(data);
                $('#' + modalId).modal(options);
                $('#' + modalId).modal('show');

            },
            error: function() {
                alert("An error has occured while loading form.");
            }
        });
    };
    function hideView(ModalID) {
        $('#' + ModalID).modal('hide');
    }
</script>
