@{
    ViewData["Title"] = "Chats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="sticky-top mb-3">
                <div class="card">
                    <div class="card-header">
                        @*<h4 class="card-title">Draggable Events</h4>*@
                        <div class="form-inline">
                            <div class="input-group" data-widget="sidebar-search">
                                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-sidebar">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                    <button class="btn btn-sidebar btn-primary float-right">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">Show All <span class="float-right"><i class="fa fa-angle-down"></i></span> </div>
                            <div class="col-md-6">Most Recent <span class="float-right"><i class="fa fa-angle-down"></i></span> </div>
                        </div>
                        <hr />
                        <div class="card-footer card-comments">
                <div class="card-comment">                  
                  <div class="comment-text">
                    <span class="username">
                      Maria Gonzales
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span><!-- /.username -->
                    <p class="chat-content-small"> It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.</p>                    
                  </div>
                  <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->
                <div class="card-comment">
                  <!-- User image -->
                  <img class="img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="User Image">

                  <div class="comment-text">
                    <span class="username">
                      Luna Stark
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span><!-- /.username -->
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->
              </div>
                       @* <div class="card active-chat">
                            <div class="card-header">                                
                                <h5 class="card-title chat-Header">Alexander</h5>
                                <i><span class="float-right chat-Header-Time">23 Minutes Ago</span></i>                            

                                <p class="chat-content-small">Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...</p>
                            </div>
                        </div>

                         <div class="card">
                            <div class="card-header">                                
                                <h5 class="card-title"><b>Alexa</b></h5>
                                <i><span class="float-right">50 Minutes Ago</span></i>
                            </div>
                            <div class="card-body">                                
                                <p>Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...</p>
                            </div>
                        </div>*@
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body p-0">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>